
.sentences {


  & {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: auto;
    color: #fff;
  }

  .content {
    & {
      padding: 20% 10% 20%;
    }

  &.un-wrap {
    div.comment {
      white-space: normal;
    }
  }
  
  &.un-strike {
    div.comment {
    text-decoration: none;
    }
  }

  &.wordcount {
    div.comment:after {
          display: inline-block;
    }
  }

    div {
      & {
        position: relative;
        padding: 5px 15px;
        line-height: 1.2;
        margin: 20px 0;
      }

      &.comment {
        text-decoration: line-through;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        color: #959595;
        max-width: 100%;
        margin: 0;
        font-size: 0.9em;
        font-style: italic;
        padding-right: 2em;

        &:after {
          content: attr(data-wordcount);
          font-size: 0.8em;
          padding: 5px;
          margin: 0 8px;
          position: absolute;
          display: none;
          right: 0;
        }
      }
    }
  }
}
