$left: 65%;

.document {
  width: $left;
}
.sentences {
  width: 100 - $left;
}

.divider {
  width: 6px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: $left;
  background: transparent;
  cursor: ew-resize;

  &.hide-menu {
    &-left .left,
    &-right .right {
      display: none;
    }
  }

  &:hover {
    background: #000;
  }

  .left,
  .right {
    list-style-type: none;
    position: absolute;
    margin: 0 10px;
    padding: 0;

    li {
      text-align: center;
      display: block;
      border-top: 1px solid;
      margin: 10px;
      padding: 10px 0 0;
      &:first-child {
        margin: 0;
        border: none;
      }
    }
  }
  .left {
    right: 0;
  }
  .right {
    left: 0;
  }
}
