$left: 65%;

.document {
    width: $left;
}
.sentences {
    width: 100 - $left;
}

.divider {
  width: 6px;
  position: absolute;
  top:0;
  bottom: 0;
  right: auto;
  left: $left;
  background: transparent;
  cursor: ew-resize;

  &:hover{
    background: #000;
  }

  .left{
    position: absolute;
    right: 0;
  }
  .right {
    position: absolute;
    left: 0;
  }

     .left,.right {
    margin: 0 1em;
  }
}