.divider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 5px;
    border-width: 0 3px 0 0;
    cursor: ew-resize;
    &:hover {
        // border-width: 0 3px 0 0;
        width: 10px;
    }

    &-wordcount {
        position: absolute;
        bottom: 0;
        text-align: center;
        right: 0em;
        border-radius: 3px;
        margin: 1.2em 0.2em;

        .value {
            margin: 1em;
            padding: 0.3em;
            border-radius: 2px;
        }
    }
}
