$duration: 150ms;

.sidebar {
    position: fixed;
    left: -30em;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0.5em;
    font-size: 18px;
    // border-radius: 4px;
    max-width: 340px;
    width: 100%;
    display: block;
    opacity: 0;
    border: 4px double;

    .sidebar-close.show-sidebar & {
        opacity: 0;
        left: -30em;
        transition: opacity $duration, left $duration linear;
    }
    .show-sidebar & {
        display: block;
        opacity: 1;
        left: 0;
        transition: opacity $duration, left $duration linear;
    }

    .file-name input {
        width: 100%;
        background: transparent;
        border: none;
        padding: 0;
        font-size: 1em;
        color: inherit;
        font-style: italic;
    }

    .file-toggle-input {
        a {
            content: 'edit';
            font-size: 0.6em;
            color: red;
            text-decoration: underline;
            margin: 0 0 0 5px;
            vertical-align: middle;
            display: none;
        }
        &:hover {
            a {
                display: inline-block;
            }
        }
    }

    ul:first-child {
        padding-top: 30px;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        cursor: pointer;
        position: relative;
        display: block;
        list-style: none;
        margin: 2px 0;
        padding: 0;

        label {
            cursor: pointer;
        }

        &.selected {
            background: #e4e4e4;
            color: #383838;
            &::before {
                display: none;
            }
        }

        .inner {
            padding: 0.6em 1.2em;
            display: block;
        }

        strong,
        em {
            display: block;
            font-style: normal;
            font-weight: normal;
        }
        em {
            margin: 0.8em 1.5em;
            position: absolute;
            color: #fff;
            right: 0;
            top: 0;
            font-size: 0.8em;
        }
    }
}

.icon {
    &-boolean {
        &-true,
        &-false {
            background: #2b2b2b;
            border-radius: 1em;
            position: relative;
            display: inline-block;
            margin: -0.35em 0.025em 0;
            padding: 0.025em;
            font-size: 16px;
        }
        &-true::before,
        &-false::after {
            content: ' ';
            border-radius: 1em;
            height: 1em;
            width: 1em;
            display: block;
            margin: 0.12em;
            border: 0.1em solid #222;
        }
        &-true::before {
            background: #fff;
            margin-left: 1.8em;
            border: 0.1em solid #111111;
            box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.5);
        }
        &-false::after {
            background: #111;
            margin-right: 1.8em;
        }
    }
}

.file {
    &-meta {
        font-size: 0.6em;
        color: #555555;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            display: inline-block;
            margin: 0 0.5em 0 0;
            padding: 0;
        }
        a {
            color: inherit;
        }
    }
    &-name {
        display: block;
    }
}

#fontvalue {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1em;
    margin: 0.5em 1.5em;
    &:after {
        content: ' px';
    }
}

#fontsize {
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.settings {
    & {
        position: absolute;
        bottom: 3em;
        left: 0;
        right: 0;
    }
    li {
        border-bottom: 1px solid #1b1b1b;
        &.no-underline {
            border: none;
            padding-bottom: 0;
            margin-bottom: -6px;
            .inner {
                padding-bottom: 0;
            }
        }
    }
}

hr {
    display: block;
    border: 1px solid #232323;
    border-width: 1px 0 0 0;
}
