@import './divider/divider';

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

* {
  outline: none;
}


.container {
  display: flex;
  background: red;
  height: 100%;
  position: absolute;
  // align-items: center;
}



.hide-content .content {
  opacity: 0;
  transition: opacity 150ms;
}

.document {
  & {
    // width: $left;
    overflow: auto;
    background: #eee;
    color: #333;
  }

  .content {
    padding: 20% 10% 20%;

  }

  .locked {
    position: relative;
    font-size: 1em;
    &::before {
      content: "";
      position: absolute;
      left: -10px;
      margin: 0 -1em;
      bottom: 0;
      border-right: 1px solid;
      padding: 0 10px 0 0;
      top: 0; 
    }
  }
}


#footer{
  position: absolute;
  bottom: 0;
  z-index: 9;
  font-size: 10px;
}

// .content {
//   width: auto;
//   min-height: 150px;
//   border: 1px #000 solid;
//   padding: 12px;
//   overflow: auto;
// }

