.paragraphs {
  & {
    background: #efefef;
  }
  .dark & {
    background: #171717;
    color: #b9b9b9;
  }
}

.locked {
  background: #fbfbfb;
  .dark & {
    background: #25252566;
  }
}

.selected.locked {
  background: rgb(255, 255, 231);
  .dark & {
    background: #191919;
  }
}

.inactive {
  opacity: 0.2;
  color: #ccc;
}

.empty {
  &::after {
    & {
      color: #999;
      background: #000;
    }
    .dark & {
      color: #545454;
      background: black;
    }
  }
}
.panel {
  p {
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.selected {
  &:before {
    background: black;
  }
}
.divider {
  & {
    background: rgb(44, 44, 44);
    border-color: rgb(255, 255, 255);
    .dark & {
      background: rgb(0, 0, 0);
      border-color: #111;
    }
  }
  &:hover {
    & {
      background: rgb(26, 26, 26);
      border-color: rgb(255, 255, 255);
    }
    .dark & {
      background: rgb(0, 0, 0);
      border-color: rgb(255, 255, 255);
    }
  }
}
